body {
    font-family: Arial, sans-serif;
    color: brown;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}